[Unit]
Description=Minecraft Server
After=network.target

[Service]
Type=simple
User={{ minecraft_user }}
Group={{ minecraft_group }}
WorkingDirectory={{ minecraft_dir }}
ExecStart=/usr/lib/jvm/java-21-amazon-corretto/bin/java -Xmx1024M -Xms1024M -jar server.jar nogui
Restart=on-failure
RestartSec=5
StandardOutput=append:{{ minecraft_dir }}/server.log
StandardError=append:{{ minecraft_dir }}/server.log

[Install]
WantedBy=multi-user.target 